@font-face {font-family: "iconfont";
	src:url('../fonts/icon.ttf?t=155857asdfasdfa') format('truetype');
}


.iconfont1 {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-out-up::before{
	content: "\e891";
	font-size: 1.3rem;
	color: #000000;
	vertical-align: top;
	font-weight: bold;
}
.icon-out-down::before{
	content: "\e83c";
	font-size: 1.2rem;
	color: #000000;
	vertical-align: bottom;
	font-weight: bold;
}
.icon-exchange-ticket::before{
	content:"\e61f";
	font-size:2rem;
}
.icon-search-tie::before{
	content: "\e60d";
	font-size: 12px;
	color: #9C9C9C;
}
.icon-comment-count::before{
	content: "\e629";
	font-size:2rem;
	line-height: 5rem;
}
.icon-dian-zan::before{
	content: "\e611";
	font-size:2rem;
	line-height: 5rem;
}
.icon-comment-share::before{
	content: "\e607";
	font-size:2rem;
	line-height: 5rem;
}
.icon-delete-img-text::before{
	content: "\e61d";
	font-size: 1.8rem;
}
.icon-keysoft-hidden::before{
	content:"\e83c";
	font-size: 2.5rem;
	line-height: 2.5rem;
	color:#696969;
}
.icon-add-text-img::before{
	content: "\e620";
	font-size: 2.5rem;
	line-height: 2.5rem;
	color:#696969;
}

.icon-community-delete::before{
	content: "\e61b";
	font-size: 1.8rem;
	color:	black;
}
.icon-community-edit::before{
	content:"\e729" ;
	color: red;
	font-size: 5rem;
	
}
.icon-code-info::before{
	content: "\e62b";
	color:rgba(255,255,255,.9);
	font-size: 2.5rem;
}
.icon-material::before{
	content: "\e640";
	color:rgba(255,255,255,.9);
	font-size: 2.5rem;
}
.icon-jubao::before{
	content: "\e69d";
	font-size: 3.5rem;
	text-align: center;
	line-height: 3.5rem;
}
.icon-copy-url::before{
	content: "\e683";
	font-size: 3.5rem;
	text-align: center;
	line-height: 3.5rem;
}
.icon-wechat-circle::before{
	content: "\e630";
	color: 	#66CD00;
	font-size: 3.5rem;
	text-align: center;
	line-height: 3.5rem;
}
.icon-wechat-user::before{
	content: "\e88d";
	color: #008000;
	font-size: 3.5rem;
	text-align: center;
	line-height: 3.5rem;
}
.icon-share:before{
	content: "\e86d";
	color: white;
	font-size: 2.5rem;
}

.icon-what::before{
	content: "\e6b8";
	color: white;
	font-size: 20px;
}
.icon-sign-selected::before{
	content: "\e626";
	color: rgba(125, 38,205,1);
	font-size: 3rem;
}
.icon-sign-none-select::before{
	content: "\e626";
	color: rgba(181, 181, 181,.4);
	font-size: 3rem;
}
.icon-add-topic::before{
	content: "\e612";
	color:#4F4F4F;
}
.icon-tongji::before{
	content: "\e619";
	color:#4F4F4F;
}
.icon-yijian::before{
	content: "\e618";
	color:#4F4F4F;
}
.icon-saosao::before{
	content: "\e617";
	color:#4F4F4F;
}
.icon-tiezi::before{
	content: "\e604";
	color: #4F4F4F;
}
.icon-address::before{
	content: "\e698";
	color: #4F4F4F;
}
.icon-taochan::before{
	content: "\e68c";
	color: #4F4F4F;
}
.icon-point::before{
	content: "\e658";
	color: #4F4F4F;
}
.icon-kefu::before{
	content:"\e64f";
	color: #4F4F4F;
	/* font-size:15px; */
}
.icon-qiandao::before{
	content:"\e62d";
	color: white;
	font-size: 15px;
}
.icon-anquan::before{
	content: "\e635";
	font-size:20px ;
	color: gray;
}
.icon-selected::before{
	content: "\e626";
	font-size: 20px;
	color: #00BFFF;
}
.icon-non-selected::before{
	content: "\e60c";
	font-size: 20px;
	color: #00BFFF;
}
.icon-clear::before{
	content: "\e653";
	color: #828282;
	font-size: 16px;
	line-height: 30px;
}
.icon-suo::before{
	content:"\e63b";
	color: 	#00BFFF;
	font-size: 25px;
	line-height: 30px;
}
.icon-phone::before{
	content:"\e639";
	color: 	#00BFFF;
	font-size: 25px;
	line-height: 30px;
}
.icon-wechat::before{
	content: "\e61a";
	color: green;
	font-size: 24px;
}
.icon-shouji::before{
	content: "\e639";
	color: orange;
	font-size: 20px;
}
.icon-message::before{
	content: "\e7f3";
	font-size: 22px;
	color: orange;
	text-align: center;
}
.icon-new::before{
	display: inline-block;
	content: "\e720";
	color: red;
	font-size: 2rem;
	width: 2rem;
	height: 2rem;
	text-align: left;
	line-height: 1;
}
.icon-huoyuan::before{
	content: "\e606";
	color: #1E90FF;
	
}
.icon-jihuadan::before{
	content: "\e60b";
	color: #1E90FF;
}

.icon-focus-buy:before {
	content: "\e6fb";
	color:rgba(255,255,255,.9);
	font-size: 2.5rem;
}


.icon-fanhuidingbu:before {
	content: "\e64a";
	font-size: 3rem;
}

.icon-auth::before{
	content: "\e669";
	color: #4F4F4F;
}
.icon-guawang:before{
	content: "\e610";
	color:rgba(255,255,255,.9);
	font-size: 2.5rem;
}
.icon-sijiaqi:before{
	content: "\e62c";
	color:rgba(255,255,255,.9);
	font-size: 2.5rem;
}
.icon-shouqi:before{
	content: "\e891";
	color:rgba(255,255,255,.9);
	font-size: 2.5rem;
}
.icon-gengduo:before{
	content: "\e86d";
	color:rgba(255,255,255,.9);
	font-size: 2.5rem;
}
.icon-yongyaozhinan:before{
	content: "\e711";
	color:rgba(255,255,255,.9);
	font-size: 2.5rem;
}

.icon-jibao:before{
	content: "\e601";
	color:rgba(255,255,255,.9);
	font-size: 2.5rem;
}

.icon-jiyao:before{
	content: "\e649";
	color:rgba(255,255,255,.9);
	font-size: 2.5rem;
}

.icon-shuomingshu:before{
	content: "\e636";
	color:rgba(255,255,255,.9);
	font-size: 2.5rem;
}

.icon-question:before{
	content: "\e605";
	color: red;
	font-size: 2rem;
}

.icon-tianjia1:before {
  content: "\e620";
  color: red;
  font-size: 2rem;
  font-weight: bold;
}

.icon-shanchu1:before{
  content: "\e653";
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}
.icon-shanchu2:before{
  content: "\e653";
  color: red;
  font-size: 2rem;
  font-weight: bold;
}

.icon-tianjia-:before {
  content: "\e652";
  color: #000000;
  font-size: 4rem;
}
.icon-upload:before {
  content: "\e600";
  font-size: 1.4rem;
}
.icon-report-edit:before {
  content: "\e608";
  font-size: 1.4rem;
}
.icon-report-del:before {
  content: "\e678";
  font-size: 1.4rem;
}
.icon-short-release:before {
  content: "\e621";
  font-size: 1.4rem;
}

