@font-face {font-family: "iconfont";
  src:url('../fonts/iconfont.ttf?t=1558577383258') format('truetype');
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.icon-xiaoxi1:before {
  content: "\e7f3";
}
.icon-icon--1:before {
	content: "\e710";
	font-size: 3rem;
	color: #000000;
}
.icon-tongzhi:before {
  content: "\e62a";
  font-size: 1.6rem;
  color: gray;
}
.icon-jianshu:before {
  content: "\e63c";
  color: #1E90FF;

}
.icon-jiashu:before {
  content: "\e63d";
  color: #1E90FF;

}
.icon--biaodanguanli:before {
  content: "\e697";
  color: #1E90FF;

}
.icon--jiaoseguanli:before {
  content: "\e68f";
  color: #228B22;

}
.icon--shoucangzheguanli:before {
  content: "\e68a";
  color:#228B22;

}
.icon-xiangshang2:before {
  content: "\e740";
  color: #1E90FF;

}
.icon-xiangxia2:before {
  content: "\e827";
  color: #1E90FF;

}
.icon--cangpinyijiao:before {
  content: "\e68b";
  color: #CD5555;

}
.icon--suoyouzhengji:before {
  content: "\e688";
  color: #1E90FF;

}
.icon--cangpindengbian:before {
  content: "\e68c";
  color: #CD5555;

}
.icon--gonggaoguanli:before {
  content: "\e693";
  color: #FF8247;

}
.icon-xuqiu:before {
  content: "\e646";
  color: #FF8247;

}
.icon--jiandinggujia:before {
  content: "\e69b";
  color:#CD5555;

}
.icon-shengdanjieicon-:before {
  content: "\e60a";
  color: #1E90FF;

}
.icon--liuchengguanli:before {
  content: "\e696";
  color: #1E90FF;
}


.icon-fanhuidingbu:before {
  content: "\e637";
	font-size: 2rem;
}
.icon-shuaxin:before {
  content: "\e63a";
	font-size: 1.6rem;
}
.icon-guanbi:before {
  content: "\e649";
	color:red;
	font-size: 1.6rem;
}
.icon-icon--:before {
  content: "\e717";
	font-size: 20px;
}
.icon-shaixuan:before {
  content: "\e641";
	font-size: 1.4rem;
}
.icon-shaixuan1:after {
  content: "\e641";
	font-size: 1.4rem;
}
.icon-sousuo:before {
  content: "\e609";
	color: #CCCCCC;
	font-size: 2rem;
}
.icon-fuwusheshixinxichaxun:before {
  content: "\e60d";
	color: #13227A;
}
.icon-zhuce:before {
  content: "\e607";
	color: 	#1874CD;
}
.icon-kefu-tianchong:before {
  content: "\e620";
	color:	#FF8C00;
}
.icon-tuichu:before {
  content: "\e638";
	color: #FF0000;
}
.icon-dengluyonghu:before {
  content: "\e608";
}

.icon-ziliaoku:before {
  content: "\e601";
	color: #e16531;
}
.icon-wuzicangku:before {
  content: "\e787";
	color:	#4876FF;
}

.icon-zhuce:before {
  content: "\e607";
}

.icon-wode:before {
  content: "\e632";
}

.icon-closed:before {
  content: "\e6b8";
	color: #0e932e;
}
.icon-xiazai:before {
  content: "\e66a";
	color:#8B7B8B;
}
.icon-liaotianqingqiu:before {
  content: "\e623";
	color:#1874CD;
}

.icon-renzhengshangjia:before {
  content: "\e670";
}

.icon-fabujilu:before {
  content: "\e61c";
	color: #a4579d;
}
.icon-jilu:before {
  content: "\e61e";
	color: #a4579d;
}
.icon-weibiaoti1:before {
  content: "\e622";
	color: #a4579d;

}

.icon-wodefabu:before {
  content: "\e60b";
}

.icon-aid:before {
  content: "\e64e";
	color: #FF4500;
}
.icon-publish:before {
  content: "\e64c";
	color: #1296db;
}
.icon-qunfengxinxituisong:before {
  content: "\e7ca";
	color:#1E90FF;

}


.icon-shouye:before {
  content: "\e615";
}

.icon-kefu-tianchong:before {
  content: "\e620";
}

.icon-chuku:before {
  content: "\e602";
	color: #13227a;
}

.icon-ruku1:before {
  content: "\e606";
	color: #1296db;
}
.icon-rukuon:before {
  content: "\e61b";
	color: #551A8B;

}
.icon-yundongjijiu:before {
  content: "\e61a";
	color:#5D478B;

}

.icon-baogaochaxun:before {
  content: "\e603";
	color:#8B6914;
}
.icon-ziyuanxhdpi1:before {
  content: "\e630";
	color:	#5D478B;
}

.icon-xinwenzixun:before {
  content: "\e621";
}

.icon-yaopin1:before {
  content: "\e610";
	color:#473C8B;
}

.icon-xiaoxitongzhi:before {
  content: "\e639";
	color: 	#8B008B;
}
.icon-xiaoxi:before {
  content: "\e67c";
	color:#B452CD;

}

.icon-chakan:before {
  content: "\e6ad";
}
.icon-chukuon:before {
  content: "\e618";
	color: #7A378B;
}

.icon-wangluo-:before {
  content: "\ecd9";
	color: #483D8B;
}
.icon-wangluo_f:before {
  content: "\e680";
	color: #483D8B;
	/* font-size: 3.2rem; */
}

.icon-fabu1:before {
  content: "\e6ab";
	color: #13227a;
}
.icon-fabu2:before {
  content: "\e64f";
	color:#B452CD;

}

.icon-gerenziliao:before {
  content: "\e604";
	color: #a4579d;
}
.icon-qunfenggerenziliao:before {
  content: "\e75a";
	color:	#3A5FCD;

}

.icon-dengluyonghu:before {
  content: "\e608";
}

.icon-iconfront-:before {
  content: "\e60c";
	color: #DAA520;
}
.icon-jiaohuan:before {
  content: "\e689";
	color:#0000CD;
	/* font-size: 3rem; */
}

