@font-face {font-family: "iconfont";
	src:url('../fonts/icon.ttf?t=155857asdfasdfa') format('truetype');
}

.iconfont1 {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-anquan::before{
	content: "\e635";
	font-size:20px ;
	color: gray;
}
.icon-selected::before{
	content: "\e626";
	font-size: 20px;
	color: #00BFFF;
}
.icon-non-selected::before{
	content: "\e60c";
	font-size: 20px;
	color: #00BFFF;
}
.icon-clear::before{
	content: "\e653";
	color: #828282;
	font-size: 16px;
	line-height: 30px;
}
.icon-suo::before{
	content:"\e63b";
	color: 	#00BFFF;
	font-size: 25px;
	line-height: 30px;
}
.icon-phone::before{
	content:"\e639";
	color: 	#00BFFF;
	font-size: 25px;
	line-height: 30px;
}
.icon-wechat::before{
	content: "\e61a";
	color: green;
	font-size: 24px;
}
.icon-shouji::before{
	content: "\e639";
	color: orange;
	font-size: 20px;
}
.icon-message::before{
	content: "\e7f3";
	font-size: 22px;
	color: orange;
	text-align: center;
}
.icon-new::before{
	display: inline-block;
	content: "\e720";
	color: red;
	font-size: 2rem;
	width: 2rem;
	height: 2rem;
	text-align: left;
	line-height: 1;
}
.icon-huoyuan::before{
	content: "\e606";
	color: #1E90FF;
	
}
.icon-jihuadan::before{
	content: "\e60b";
	color: #1E90FF;
}

.icon-focus-buy:before {
	content: "\e6fb";
	color:rgba(255,255,255,.9);
	font-size: 2.5rem;
}


.icon-fanhuidingbu:before {
	content: "\e64a";
	font-size: 3rem;
}

.icon-auth:before{
	content: "\e635";
	color: gray;
	/* font-size: ; */
}
.icon-guawang:before{
	content: "\e610";
	color:rgba(255,255,255,.9);
	font-size: 2.5rem;
}
.icon-sijiaqi:before{
	content: "\e62c";
	color:rgba(255,255,255,.9);
	font-size: 2.5rem;
}
.icon-shouqi:before{
	content: "\e891";
	color:rgba(255,255,255,.9);
	font-size: 2.5rem;
}
.icon-gengduo:before{
	content: "\e86d";
	color:rgba(255,255,255,.9);
	font-size: 2.5rem;
}
.icon-yongyaozhinan:before{
	content: "\e711";
	color:rgba(255,255,255,.9);
	font-size: 2.5rem;
}

.icon-jibao:before{
	content: "\e601";
	color:rgba(255,255,255,.9);
	font-size: 2.5rem;
}

.icon-jiyao:before{
	content: "\e649";
	color:rgba(255,255,255,.9);
	font-size: 2.5rem;
}

.icon-shuomingshu:before{
	content: "\e636";
	color:rgba(255,255,255,.9);
	font-size: 2.5rem;
}

.icon-question:before{
	content: "\e605";
	color: red;
	font-size: 2rem;
}

.icon-tianjia1:before {
  content: "\e620";
  color: red;
  font-size: 2rem;
  font-weight: bold;
}

.icon-shanchu1:before{
  content: "\e653";
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}
.icon-shanchu2:before{
  content: "\e653";
  color: red;
  font-size: 2rem;
  font-weight: bold;
}

.icon-tianjia-:before {
  content: "\e652";
  color: #000000;
  font-size: 4rem;
}
.icon-upload:before {
  content: "\e600";
  font-size: 1.4rem;
}
.icon-report-edit:before {
  content: "\e608";
  font-size: 1.4rem;
}
.icon-report-del:before {
  content: "\e678";
  font-size: 1.4rem;
}
.icon-short-release:before {
  content: "\e621";
  font-size: 1.4rem;
}

