.userinfo-box{
	/* width: 80%;
	margin: 0 auto; */
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	padding: 1.8rem 5%;
	background-color:rgba(51,131,252,1);
	/* background: linear-gradient(rgba(51,131,252,1),rgba(51,131,252,.6));
	background: -webkit-linear-gradient(rgba(51,131,252,1),rgba(51,131,252,.6)); */
	align-items: center;
}
.userinfo-left img{
	border-radius: 80px;
	height: 80px;
	width: 80px;
}
.userinfo-right{
	padding-left: 10px;
	height: auto;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	
}
.username{
	font-size: 18px;
	/* height:auto ; */
	color: #FFFFFF;
	padding-top: 3px;
} 
.companyname{
	font-size: 12px;
	/* height: 1.2rem; */
	color: 	#696969;
}
.mui-content>.mui-table-view:first-child {
	margin-top: 0;
}
.icon-left{
	font-size: 25px;
}
.menu-item-box{
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	align-items: center;
	
}
.operate-text{
	padding-left: 10px;
	font-size: 16px;
}
.divided-line{
	height: 12px;
	width: 100%;
	background: rgba(156, 156, 156,.1);
}
.mui-table-view-cell:after{
	background-color:rgba(156, 156, 156,.1) ;
}
.mui-table-view:after{
	background-color:rgba(156, 156, 156,.1) ;
}
.mui-table-view:before{
	background-color:rgba(156, 156, 156,.1) ;
}
.sign-in{
	background-color: #FF8C00;
	padding: 3px 10px;
	position: fixed;
	right: 0;
	top: 50px;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	align-items: center;
	border-top-left-radius:5px ;
	border-bottom-left-radius:5px ;
}
.sign-text{
	font-size: 16px;
	color: white;
	padding-left: 5px;
}

