.address-item{
	padding:1rem 0 1rem 0;
}
.consignee-phone{
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.consignee-phone .consignee{
	font-size: 1.7rem;
	
}
.consignee-phone .phone{
	font-size: 1.6rem;
	color: gray;
}
.address-text{
	font-size: 1.6rem;
	color: gray;
	padding-bottom: .8rem;
	border-bottom: 1px solid rgba(181,181,181,.1);
	text-align: justify;
}
.divided-line{
	height: 1.2rem;
	margin:0 -1rem 0;
}
.address-edit-box{
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: .8rem;
}
.address-edit-box .default{
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	align-items: center;
}
.address-edit-box .default .default-text{
	font-size: 1.6rem;
	padding-left: .5rem;
	color: dimgray;
}
.address-edit-box .edit-delete{
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	align-items: center;
	line-height: 1;
	color: dimgray;
}
.address-edit-box .edit-delete .delete{
	padding-right: 1.2rem;
	font-size: 1.4rem;
}
.address-edit-box .edit-delete .edit{
	padding-left: 1.2rem;
	font-size: 1.4rem;
	border-left: 1px solid dimgray;
}
.add-btn{
	padding: .7rem 0;
	text-align: center;
	font-size: 1.6rem;
	color: white;
	background-color:#00BFFF;
	margin-top: 2rem;
	border-radius: 5px;
}
.add-btn:active{
	background-color: #0074F0;
}
