<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>个人中心</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<script type="text/javascript">
			document.write('<script src="../../js/fix.js?rd=?rd=' + Math.random() + '"><\/script>');
		</script>
		<script type="text/javascript">
			link(['../../css/mui.min.css','../../css/common.css','../../css/icon.css','../../css/point/index.css'],true);
		</script>
	</head>
 
	<body>
		<header class="mui-bar mui-bar-nav no-shadow">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">积分管理</h1>
			<div id="data-from">积分规则</div>
		</header>
		 
		<div class="mui-content"  id="app">
			<div class="top-background" v-cloak>
				<div class="point-count">
					<div class="count-left">
						<div class="my-point-text">我的积分</div>
						<div class="my-point-count">{{totle}}</div>
					</div>
					
					<div class="count-middle"><button id="sign-in" type="button" :disabled="isSign" class="mui-btn mui-btn-block mui-btn-block-orange">{{isSign?'已签到':'立即签到'}}</button></div>
					
					<div class="count-right"><button type="button" id="point-exchange"  class="mui-btn mui-btn-blue mui-btn-block mui-btn-block-exchange">积分兑换</button></div>
				</div>
			</div>
			
			<div class="sign-box"> 
				<div class="continous">已连续签到 <span>{{last_day}}天</span></div>
				<div class="yesterday">明日签到可获得积分 <span>{{tomorrow}}积分</span></div>
				<div class="continous-chart">
					
					<div class="perday" v-for="(item,index) in sign_in">
						<div class="iconfont1 " :class="item.sign?'icon-sign-selected':'icon-sign-none-select'"></div>
						<div class="sign-date">{{item.date}}</div>
					</div>
				</div>
			</div>
			
			<div class="sign-exchange" style="margin-bottom:8px;">
				<div class="myinvitation">我的邀请码</div>
				<div class="invitation-code">
					<div class="code">234234234</div>
					<div class="copy">复制邀请码</div>
				</div>
			</div>
			
			<!-- points detail and exchange detail -->
			<div class="sign-exchange" >
				<div class="detail-title">
					<div class="sign-detail" :class="currentTab==1?'active':''" data-id="1" >积分明细</div>
					<div  class="sign-detail" :class="currentTab==2?'active':''" data-id="2">兑换明细</div>
				</div>
				<div class="history-detail" v-cloak>
					<div class="detail-item" v-for="(item,index) in current_detail">
						<div class="detail-head">
							<div class="head-title">{{item.title}}</div>
							<div class="head-date">{{item.create_time}}</div>
						</div>
						<div class="detail-count red">{{item.number}}</div>
					</div>
					<div class="mark">仅显示最近7天的明细</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/vue.js"></script>
	<script src="../../js/api.js"></script>
	<script src="../../js/app.js"></script>
	
	<script type="text/javascript">
		
		function load(uid){
			plus.nativeUI.showWaiting('加载中',{width:'20%'});
			let res = mui.http_post(API.LOAD_POINT,{uid});
			res.then(res=>{
				plus.nativeUI.closeWaiting();
				if(res.code == 200){
					vm.totle = res.data.totle;
					vm.last_day = res.data.last_day;
					vm.tomorrow = res.data.tomorrow;
					vm.sign_in = res.data.sign_in;
					vm.point_detail = res.data.point_detail;
					vm.exchange_detail = res.data.exchange_detail;
					
					if(vm.currentTab == 1){
						vm.current_detail = res.data.point_detail;
					}else{
						vm.current_detail = res.data.exchange_detail;
					}
				}
			})
		}
		var vm = new Vue({
			el: '#app',
			data: {
				currentTab : 1,
				isSign : true,
				totle : 0,
				last_day:0,
				tomorrow : 0,
				sign_in : [{},{},{},{},{},{},{}],
				point_detail:[],
				exchange_detail:[],
				current_detail:[],
			}
		});
		
		mui.init({
			pullRefresh:{
				container:"#app",
				down : {
					style:'circle',
					color:'#3383FC', 
					height:'50px',
					range:'100px', 
					offset:'0px',  
					auto: false,
					callback :function(){
						load(vm.uid);
						mui('#app').pullRefresh().endPulldown();
					}
			    }
			}
		});
		
		mui.plusReady(function () {
			mui.statusAndSetAfterBack('light','#FF7F24');
			var accountInfo = JSON.parse(plus.storage.getItem('accountInfo'));
			vm.uid = accountInfo.id;
			
			//初始加载
			load(accountInfo.id);
			mui.judgeIsSign(accountInfo.id)
			
			// 切换明细
			mui('.detail-title').on('tap','.sign-detail',function(){
				vm.currentTab = this.dataset.id;
				if(this.dataset.id == 1){
					vm.current_detail = vm.point_detail;
				}else{
					vm.current_detail = vm.exchange_detail;
				}
			})
			
			// 点击签到
			document.getElementById('sign-in').addEventListener('tap',function(){
				mui.loginPageShow();
				
				//签到积分
				let res = mui.http_post(API.SIGN_IN,{uid : accountInfo.id});
				res.then(res=>{
					if(res.code==200){
						mui.toast('获得+'+res.message+'积分');
						vm.isSign = true;
						load(accountInfo.id)
						return;
					}
					
					if(res.code == 201){
						mui.toast(res.message);
						vm.isSign = true;
						return;
					}
					
					if(res.code == 202){
						mui.toast(res.message);
						return;
					}
				})
				
			})
			
			//查看规则
			document.getElementById('data-from').addEventListener('tap',function(){
				mui.thirdLink('积分规则','https://yxt.feiruide.cn/index.php/point/rule');
			});
			
			//积分兑换
			document.getElementById('point-exchange').addEventListener('tap',function(){
				// mui.alert("该功能正加紧开发中,敬请期待!");
				mui.openWindow({
					url : 'exchange.html',
					id : 'exchange'
				});
			})
			
			
		})
	</script>
	
</html>