html,body{
	background-color: white;
}
.mui-bar{
	background-color: white;
	color: black;
	border: 1px solid rgba(181,181,181,.2);
}
.mui-title {
	color: #000000;
	font-size: 18px;
}
.mui-title::after{
	content: "\e83c";
}
.mui-icon-left-nav:before{
	content: '取消';
	font-size: 16px;
	color: darkgrey;
}
#data-from{
	font-size: 16px;
	color: #007AFF;
}
.add-community-box{
	padding: 1rem;
	margin-bottom: 3rem;
}
.add-community-box .community-title-box{
	border-bottom: 1px solid rgba(181,181,181,.2);
}
.add-community-box .community-title-box input{
	font-size: 1.55rem;
	height: auto;
	line-height: 1;
	padding: 5px 0;
	border: none;
	margin-bottom: 8px;
}
.community-content-box {
	margin: 10px 0;
	border-bottom: 1px solid rgba(181,181,181,.2);
	position: relative;
}
.community-content-box .community-content-text {
	
}
.community-content-box .community-content-text textarea{
	font-size: 1.55rem;
	height: auto;
	line-height: 1.2;
	padding: 5px 0;
	border: none;
	margin-bottom: 8px;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    color: inherit;
    border:none;
    background: 0 0;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item {
    /* color: inherit; */
    /* border: 0; */
}
.mui-segmented-control .mui-control-item.mui-active {
    color: #fff;
    /* background-color: none; */
}
.mui-segmented-control .mui-control-item:first-child {
    /* border-left-width: 0; */
}
.mui-segmented-control.mui-scroll-wrapper .mui-control-item {
    display: inline-block;
    width: 7rem;
    height: 7rem;
}
.mui-segmented-control .mui-control-item {
	line-height: normal;
    display: table-cell;
   overflow: hidden;
    -webkit-transition: background-color .1s linear;
    transition: background-color .1s linear;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.mui-segmented-control.mui-scroll-wrapper .mui-control-item{
	padding: 0;
	margin-right: 8px;
}
.mui-control-item{
	position: relative;
}
.mui-control-item img{
	width: 100%;
	height: 100%;
}
.mui-control-item .delete{
	display: inline-block;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 300;
}
#add-img-text{
	padding: 5px 8px;
	width: 100%;
	background-color: #E8E8E8;
	position: fixed;
	bottom: 0;
	margin: 0 -1rem;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	align-items: center;
	z-index: 1000;
}
#add-img-text:active{
	background-color:#CFCFCF;
}

#add-img-text .icon-text-btn{
	padding-left: 10px;
	font-size: 1.5rem;
	color: #696969;
}
.delete-img-text{
	position: absolute;
	right: 1.5rem;
	top: 0;
}