html{
	background-color: #EEEEEE;
}
.role-box{
	background-color: #EEEEEE;
	padding: 5px;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.role-item{
	width: 33.3%;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	color: #696969;
}