
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>入库添加</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<script type="text/javascript">
			document.write('<script src="../../js/fix.js?rd=?rd=' + Math.random() + '"><\/script>');
		</script> 
		   
		<script type="text/javascript">
			link(['../../css/mui.min.css','../../css/icon.css','../../css/common.css','../../css/imageview.css','../../css/drug/net-drug.css','../../css/picker/mui.picker.css','../../css/picker/mui.poppicker.css','../../css/LCalendar.css','../../css/warehouse/into.css'],true); 
		</script>  
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">入库添加(集团公司)</h1>
		</header>
		
		<div class="mui-content into-box" id="app">
			
			<div class="form-title">基本信息</div>
			<div class="form-box">
				<div class="mui-input-row choose">
					<label>生产企业</label>
					<input type="text" class="mui-input-clear" v-model="producer.name" id="chooseProducer" readonly  placeholder="选择生产企业">
					
				</div>
				<div class="mui-input-row">
					<label>发货单号</label>
					<input type="text" class="mui-input-clear" v-model="sendNumber"  placeholder="输入发货单号 (选填)">
				</div>
				<div class="mui-input-row input-disabled">
					<label>来源类型</label>
					<input type="text" class="mui-input-clear" readonly placeholder="生产企业 ☞ 本公司集团内企业">
				</div>
				<div class="mui-input-row choose">
					<label>票制类型</label>
					<input type="text" id="ticketType" class="mui-input-clear" readonly v-model="ticketTypeText" placeholder="两票制">
				</div>
				<div class="mui-input-row choose">
					<label>入库日期</label>
					<input type="text" id="intoTime" class="mui-input-clear" v-model="intoTime" readonly  placeholder="选择入库日期">
				</div>
			</div>
			
			<template v-if="Object.keys(producer).length !== 0">
			
				<div class="form-title">药品信息</div>
				<div class="drug-box">
					
					<div class="form-box" v-for="(item,index) in drug">
						<div :data-index="index" :class="'mui-input-row ' + (item.is_add?' input-disabled':' choose-drug') ">
							<label>药品名称</label>
							<input type="text" class="mui-input-clear" v-model="item.generic_name" readonly placeholder="选择药品">						
						</div>
						<div class="mui-input-row input-disabled">
							<label>规格</label>
							<input type="text" class="mui-input-clear" v-model="item.specifications" readonly  placeholder="输入规格">
						</div>
						<div :class="'mui-input-row' + (item.is_add?' input-disabled':'') ">
							<label>批号</label>
							<input type="text" class="mui-input-clear" :disabled="item.is_add?true:false" :data-index="index" @blur="checkBatchNumber" v-model = "item.batch_number"  placeholder="输入批号">
						</div>
						
						<div :class="'mui-input-row' + (item.is_add?' input-disabled':'') ">
							<label>入库数量</label>
							<input type="number" class="mui-input-clear" :disabled="item.is_add?true:false" :data-index="index" @input="checkIntoCount" v-model.lazy="item.into_count"  placeholder="输入入库数量">
						</div>
						
						<div class="btn-box">
							<div class="operation-btn" v-if="!item.is_add">
								<button type="button" :data-index="index" @tap="addDrug" class="mui-btn mui-btn-success">增加药品</button>
							</div>
							
							<div class="operation-btn" v-if="!item.reportId">
								<button type="button" :data-index="index" @tap="uploadReport" class="mui-btn mui-btn-success">{{item.reportUrl?"修改药检报告":"上传药检报告"}}</button>
							</div>
							
							<div class="operation-btn" v-if="index==0 && drug.length==1?false:true">
								<button type="button" :data-index="index" @tap="delDrug" class="mui-btn mui-btn-danger">删除</button>
							</div>
						</div>
						
					</div>
					
				</div>
				
				<template v-if="tickeTypeValue != 1">
					<div class="form-title">上传随货同行单(第一票)</div>
					<div class="form-box padding-9 ">
						<!-- 上传说明 -->
						<div class="upload-tip">#支持上传JPG、JEPG、PNG格式，最多上传<span class="red">15</span>张</div>
						<upload :file="billImage" :group="1" :formdata="formData2" :max="15" :url="url" @oncomplete="complete1" @ondelete="delete1" ></upload>
					</div> 
					
					<div class="form-title">上传发票(第一票)</div>
					<div class="form-box padding-9 ">
						<div class="upload-tip">#支持上传JPG、JEPG、PNG格式，最多上传<span class="red">15</span>张</div>
						<upload :file="invoiceImage" :group="2" :formdata="formData3" :max="15"  :url="url" @oncomplete="complete2" @ondelete="delete2" ></upload>
					</div>
				</template>
				
				<!-- 三票 -->
				<template v-if="tickeTypeValue==3">
					<div class="form-title">上传随货同行单(第二票)</div>
					<div class="form-box padding-9 ">
						<!-- 上传说明 -->
						<div class="upload-tip">#支持上传JPG、JEPG、PNG格式，最多上传<span class="red">15</span>张</div>
						<upload :file="billImage1" :group="4" :formdata="formData4" :max="15" :url="url" @oncomplete="complete4" @ondelete="delete4" ></upload>
					</div> 
					
					<div class="form-title">上传发票(第二票)</div>
					<div class="form-box padding-9 ">
						<div class="upload-tip">#支持上传JPG、JEPG、PNG格式，最多上传<span class="red">15</span>张</div>
						<upload :file="invoiceImage1" :group="5" :formdata="formData5" :max="15"  :url="url" @oncomplete="complete5" @ondelete="delete5" ></upload>
					</div>
				</template>
			
			</template>
			
			<!-- 上传药检报告弹窗 -->
			<template v-if="reportShow">
				<div class='mask' id="report-mask" style="z-index: 12;">
				<div class='drug-detail-box'>
					<div class='detail-box-top'>
						<div class='text-detail'>上传药检报告</div>
						<div class='iconfont1 icon-shanchu2 close' id="close-btn"></div>
					</div>
					<div class="mui-scroll-wrapper" id="scroll-two">
						<div class="mui-scroll reason-content">
							
							<div class="upload-tip">#支持上传JPG、JEPG、PNG格式，最多上传<span class="red">5</span>张</div>
							<upload :file="reportImage" :formdata="formData1" :group="3" :max="5" :url="url" @oncomplete="complete3" @ondelete="delete3" ></upload>
							
							<div class="report-btn">
								<button type="button" id="report-sure" class="mui-btn mui-btn-success">提 交</button>
							</div>
							
						</div>
					</div>
				</div>
				</div>
			</template>
			
			<!-- 提交 -->
			<div class="into_submit">
				<button type="button" id="submit" class="mui-btn mui-btn-success">提 交</button>
			</div>
			
			<!-- 内部调拨提示窗 -->
			<div class="mask" v-if="allotShow">
				<div class='into-options'>
					<button type="button" class="mui-btn mui-btn-primary" @tap="toAllot">前往添加集团内部调拨票</button>
				</div>
				<div class='allot-note'>
				   注：属于从本公司集团公司调拨的药品，如果已上传了生产企业到集团公司的第一票，则可通过此按钮“前往添加集团内部调拨票”。如果还未上传生产企业到集团公司的第一票，则可关闭弹窗，进行上传。
				</div>
				<!-- 删除按钮 -->
				<div class="close-icon iconfont1 icon-shanchu1" @tap="closeAllot"></div>
				
			</div>
			
			 
		</div>
		<script type="text/javascript">
			script(['../../js/mui.min.js','../../js/vue.js','../../js/lib/mui.zoom.js','../../js/lib/mui.previewimage.js','../../js/lib/picker/mui.picker.min.js"','../../js/lib/picker/mui.poppicker.js','../../js/lib/LCalendar.js','../../js/api.js','../../js/app.js']);
		</script>
		
		<!-- 上传组件模板 -->
		<script type="text/x-template" id="upload-template">
			<div class="upload-box">
				
				<template v-for="(item,index) in file">
					<div class="upload-img-box">
						<img :src="item.url" data-preview-src="" :data-preview-group="group" />
						<div :data-index="index" class="delete-icon iconfont1 icon-shanchu1" @tap="onDelete(index)"></div>
					</div>
				</template>
				
				<div v-if="file.length < max " class="weui-uploader__input-box" @tap="onSelect"></div>
				<div class="clear"></div>
				
			</div>
		</script>
			

		<script>
			//定义上传组件
			var upload = {
				template : '#upload-template',
				data : function(){
					return {
						
					}
				},
				// 定义组件属性
				props : {
					url : String,
					formdata : {type : Object,default : function(){ return {}}},
					file : {type :Array,default: function(){ return []} },
					max : {type : Number,default:2},
					group : {type : Number }
				},
				methods:{
					// 上传方法
					imgUpload : function(path,url){
						var that = this;
						plus.nativeUI.showWaiting()
						var task = plus.uploader.createUpload(url,{method:"POST",blocksize:204800,priority:100},function(t,status){
							plus.nativeUI.closeWaiting();
							
							// 上传完成,成功或失败
							var datas = JSON.parse(t.responseText); //返回图片存储地址
							if( status == 200 ){
								// 上传成功
								that.$emit("oncomplete",{url:datas});
								
							}else{
								
								mui.alert(datas.err,'提示','确认',function (e) {
								});
								
							}
							
						});
						task.addFile(path,{key:'upload'});
						// 添加参数
						for(var key in that.formdata){
							task.addData(key,that.formdata[key].toString());
						}
						task.start();
					},
					// 选择图片
					onSelect : function(){ 
						var btnArray = [{
							title: "拍照"
						}, {
							title: "从相册选择"
						}],that = this;
						
						plus.nativeUI.actionSheet({
							title: "选择照片",
							cancel: "取消",
							buttons: btnArray
						}, function(e) {
							var index = e.index;
							switch (index) {
								case 0:
									break;
								case 1:
								// 拍照
									var cmr = plus.camera.getCamera();
									cmr.captureImage(function(path) {
										var localUrl = "file://" + plus.io.convertLocalFileSystemURL(path);
										that.imgUpload(localUrl,that.url);
									});
									break;
									
								case 2:
								//选择相册
									plus.gallery.pick(function(path) {
										that.imgUpload(path,that.url);
									}, function(err) {}, {maximum:1});
									break;
							}
						});
						
					},
					// 删除
					onDelete : function(e){
						this.$emit("ondelete",{index:e})
					}
				}
			}
			
			
			mui.init();
			window.onload = function(){
				mui.plusReady(function (){
				
					var vm = new Vue({
						el :'#app',
						data : {
							formData1:{text : '药检报告'},						//上传附带参数
							formData2:{text:'随货同行单-第一票'},					//上传附带参数
							formData3:{text:'发票-第一票'},						//上传附带参数
							formData4:{text:'随货同行单(三票制)-第二票'},			//上传附带参数
							formData5:{text:'发票(三票制)-第二票'},				//上传附带参数
							billImage : [],  									//随货同行单 - 第一票
							invoiceImage : [],  								//发票 - 第一票
							billImage1 : [],  									//随货同行单-三票制 第二票
							invoiceImage1 : [],  								//发票-三票制 第二票
							url : API.HOST + API.UPLOAD_TICKET,
							pruducerShow : true,								//显示生产企业选择框
							producer : {},										//生产企业
							sendNumber : '',									//发货单号
							ticketType: [{
								value: 1,
								text: '一票制'
							},{
								value: 2,
								text: '两票制'
							},{
								value: 3,
								text: '三票制'
							}],
							tickeTypeValue : 2,
							ticketTypeText : '两票制',
							intoTime : '',										//入库日期
							drug : [{}],										//药品信息
							currentIndex : 0,
							reportShow : false,
							reportImage:[],
							reportBefore : [],
							allotShow : true,
							
						},
						components:{
							upload : upload
						},
						methods:{
							//关闭调拨弹窗
							closeAllot(){
								this.allotShow = false;
							},
							// 跳转到内部调拨页面
							toAllot(){
								mui.openWindow({
									url : 'group-allot.html',
									id : 'group-allot.html',
									show : {
										autoShow : true
									}
								})
							},
							
							//检测批号
							checkBatchNumber(e){
								var value = e.target.value;
								var index = e.target.dataset.index;
								var current = this.drug[index];
								if(!current.id){
									mui.toast('请选择药品');
									vm.$set(this.drug[index],'batch_number','');
									return;
								}
								// 药检报告是否存在
								if(!value){
									mui.toast('未填写批号');
									return;
								}
								
								var res = mui.http_post(API.CHECK_DRUG_REPORT,{batchNumber : value , drugId : current.id});
								res.then(res=>{
									if(res.data.id){
										mui.toast('药检报告已存在');
									}else{
										mui.toast('请上传药检报告');
									}
									vm.$set(this.drug[index],'reportId',res.data.id);
									vm.$set(this.drug[index],'reportUrl',res.data.picture_paths);
								})
								
								
							},
							
							// 检测入库数量
							checkIntoCount(e){
								var value = e.target.value;
								var index = e.target.dataset.index;
								var current = this.drug[index];
								if(!current.id){
									mui.toast('请选择药品');
									vm.$set(this.drug[index],'into_count','');
									return;
								}
								if(!value){
									mui.toast('未填写入库数量');
									return;
								}
								
								// 检查数据是否合法
								if(value.indexOf('.') != -1 ||  value.indexOf(0)===0 || isNaN(value) ){
									mui.toast('入库数量不合法');
									vm.$set(this.drug[index],'into_count','');
									return;
								}
								
							},
							
							// 增加药品
							addDrug(e){
								var index = e.target.dataset.index;
								// 判定批号,入库数量是否填写
								if(!this.drug[index].batch_number){
									mui.toast('未填写批号');
									return ;
								}
								if(!this.drug[index].into_count){
									mui.toast('未填写入库数量');
									return ;
								}
								
								// 检查数据是否合法
								if(this.drug[index].into_count.indexOf('.') != -1 ||  this.drug[index].into_count.indexOf(0)===0 || isNaN(this.drug[index].into_count) ){
									mui.toast('入库数量不合法');
									vm.$set(this.drug[index],'into_count','');
									return;
								}
								
								// 判断是否存在同样的药品及批号
								
								for(var i=0,len=this.drug.length;i<len;i++){
									if ( i!=index && this.drug[index].system_number == this.drug[i].system_number && this.drug[index].batch_number == this.drug[i].batch_number){
										mui.toast('当前药品及批号已重复');
										return;
									}
								}
								
								vm.$set(this.drug[index],'is_add',true);
								vm.drug.push({});
							},
							
							// 删除药品
							delDrug(e){
								var index = e.target.dataset.index;
								// 存在多个且不是最后一个
								if( this.drug.length > parseInt(index)+1 ){
									console.log(1)
									this.drug.splice(index,1);
									return;
								}
								
								// 存在多个且是最后一个
								if(this.drug.length == parseInt(index)+1 && index != 0 ){
									this.drug.splice(index,1);
									vm.$set(this.drug[index-1],'is_add',false);
									return;
								}
								
							},
							
							// 上传药检报告
							uploadReport(e){
								var that = this;
								this.currentIndex = e.target.dataset.index;
								// 判断是否选择药品及批号
								if(!this.drug[this.currentIndex].id){
									mui.toast('请选择入库药品');
									return;
								}
								if(!this.drug[this.currentIndex].batch_number){
									mui.toast('请填写批号');
									return;
								}
								this.reportShow = true;
								var images = this.drug[e.target.dataset.index].reportUrl;
								if(images != ''){
									// 组合数据
									var split = images.split(','),arr = [],arr1 = [];
									for(var i = 0,len = split.length;i<len;i++){
										arr.push({
											url : API.TICKET_HOST + '/' + split[i],
											save : split[i]
										})
										arr1.push({
											url : API.TICKET_HOST + '/' + split[i],
											save : split[i]
										})
									}
									
									this.reportImage = arr;
									this.reportBefore = arr1;
								}else{
									this.reportImage = [];
									this.reportBefore = [];
								} 
								
								this.$nextTick(function(){
									var scorll_two = mui('#scroll-two').scroll({deceleration: 0.001});
									// 监听关闭
									document.getElementById('close-btn').addEventListener('tap',function(e){
										// 判断是否保存
										if( !mui.isEqualArr(that.reportImage,that.reportBefore) ){
											mui.alert('还未保存哟?','提示','确认',function (e) {})
											return;
											
										}else{
											that.reportShow = false;
										}
										
									});
									
									// 监听提交
									document.getElementById('report-sure').addEventListener('tap',function(){
										if(that.reportImage.length == 0){
											mui.alert('上传不能为空','提示','确认',function(){});
											return;
										}
										var str = '';
										for( var i=0,len = that.reportImage.length ; i<len ; i++ ){
											if(i==len-1){
												str += that.reportImage[i].save;
											}else{
												str += that.reportImage[i].save + ',';
											}
										}
										that.$set(that.drug[that.currentIndex],'reportUrl',str)
										that.reportShow = false;
										that.reportImage = [];
										that.reportBefore = [];
									})
									
								})
							},
							
							// 删除票据
							deleteTicket(indexs,target){
								var that = this;
								mui.confirm('确认删除吗?','提示',['取消','确认'],function (e) {
									if(e.index == 1){
										plus.nativeUI.showWaiting();
										var res = mui.http_post(API.DELETE_TICKET,{url:that[target][indexs].save});
										res.then(res=>{
											plus.nativeUI.closeWaiting();
											if(res.code == 200){
												that[target].splice(indexs,1)
											}else{
												mui.alert(res.message,'提示','确认',function (e) {})
											}
										})
										
									}
									
								})
							},
							
							// 上传
							complete1:function(e){
								this.billImage.push(e.url)
							},
							complete2:function(e){
								this.invoiceImage.push(e.url)
							},
							complete4:function(e){
								this.billImage1.push(e.url)
							},
							complete5:function(e){
								this.invoiceImage1.push(e.url)
							},
							// 删除
							delete1:function(e){
								this.deleteTicket(e.index,'billImage')
							},
							delete2:function(e){
								this.deleteTicket(e.index,'invoiceImage')
							},
							delete4:function(e){
								this.deleteTicket(e.index,'billImage1')
							},
							delete5:function(e){
								this.deleteTicket(e.index,'invoiceImage1')
							},
							
							// 上传药检报告
							complete3:function(e){
								this.reportImage.push(e.url)
							},
							
							delete3:function(e){
								this.deleteTicket(e.index,'reportImage')
							},
							
						}
					});
					var accountInfo = JSON.parse(plus.storage.getItem('accountInfo')) ;
					vm.formData1.cid = accountInfo.userid;
					vm.formData2.cid = accountInfo.userid;
					vm.formData3.cid = accountInfo.userid;
					vm.formData4.cid = accountInfo.userid;
					vm.formData5.cid = accountInfo.userid;
					
					// 预览图片
					mui.previewImage();
					
					// 选择票制类型
					var picker = new mui.PopPicker();
					document.getElementById('ticketType').addEventListener('tap',function(){
						picker.setData(vm.ticketType);
						picker.pickers[0].setSelectedIndex(vm.tickeTypeValue-1)
						
						picker.show(function(item){
							value = item[0];
							vm.tickeTypeValue = value.value;
							vm.ticketTypeText = value.text;
							vm.billImage = [];
							vm.billImage1 = [];
							vm.invoiceImage = [];
							vm.invoiceImage1 = [];
						})
					})
					
					// 选择入库日期
					var calendar = new LCalendar();
					var start = calendar.init({
						'trigger': '#intoTime',//标签id
						'type': 'date',//date 调出日期选择 datetime 调出日期时间选择 time 调出时间选择 ym 调出年月选择
						'minDate':'',//最小日期 注意：该值会覆盖标签内定义的日期范围
						'maxDate':''//最大日期 注意：该值会覆盖标签内定义的日期范围
					});
					mui('.choose').on('tap','#intoTime',function(){
						// 获取截止时间
						var max = mui.date( parseInt( new Date().getTime() /1000 ) );
						start.show({maxDate : max , type : 'date' });
					})
					
					
					
					// 选择生产企业
					document.getElementById('chooseProducer').addEventListener('tap',function(){
						var producer = vm.producer;
						if(producer.sid){
							mui.confirm('更改生产企业会清空当前药品信息,确认更改?','提示',['取消','确认'],function (e) {
								if(e.index == 0){
									return;
								}
								mui.openWindow({
									id : 'choose-producer.html',
									url : 'choose-producer.html',
									show:{
										autoShow:true,
									},
									extras : {
										sign : 'from-group.html',
									}
								});
								
							})
						}else{
							mui.openWindow({
								id : 'choose-producer.html',
								url : 'choose-producer.html',
								show:{
									autoShow:true,
								},
								extras : {
									sign : 'from-group.html',
									
								}
							});
						}
						
					});
					
					// 自定义获取生产企业事件
					window.addEventListener('getPro',function(e){
						vm.producer = e.detail;
						vm.drug = [{}];
						vm.$nextTick(function(){
							// 选择药品
							mui('.drug-box').on('tap','.choose-drug',function(){
							
								vm.currentIndex = this.dataset.index;
								mui.openWindow({
									id : 'choose-drug.html',
									url : 'choose-drug.html',
									show : {
										autoShow : true
									},
									extras : {
										sign : 'from-group.html',
										sid : vm.producer.sid,
										agentType : 0,	
									}
								})
								
							});
						})
					});
				 
					// 自定义获取药品 
					window.addEventListener('getDrug',function(e){
						var index = vm.currentIndex;
						var drug = vm.drug;
						vm.$set(vm.drug,index,e.detail);
						
					})
					
					// 入库提交
					document.getElementById('submit').addEventListener('tap',function(){
						// 判断是否选择生产企业
						if(!vm.producer.sid){
							mui.toast('请选择生产企业');
							return;
						}
						
						// 判断入库日期
						if(!vm.intoTime){
							mui.toast('请选择入库日期');
							return;
						}
						//验证药品清单
						var drugs = vm.drug,arr = [];
						for(var i=0;i<drugs.length;i++){
							arr = Object.keys(drugs[i]);
							if(arr.length == 0){
								mui.toast('请填写药品信息');
								return;
							}
						}
						//循环验证是否填写批号和入库数量
						let item = {};
						for(var i=0,len=drugs.length;i<len;i++){
							item = drugs[i];
							if(!item.batch_number){
								mui.toast('"'+item.generic_name+'" 未填写批号');
								return;
							}
							if (!item.into_count) {
								mui.toast('"' + item.generic_name + '" 未填写入库数量');
								return;
							}
							//判断数字是否合法
							if (item.into_count.indexOf('.') != -1 || item.into_count.indexOf(0) === 0 || isNaN(item.into_count)) {
								mui.toast('"' + item.generic_name + '" 入库数量不合法');
								return;
							}
						}
						
						//验证是否有重复的药品及批号
						for (var i = 0, len = drugs.length; i < len; i++) {
							for (var j = 0, leng = drugs.length; j < leng; j++) {
								if (i != j && drugs[i].batch_number == drugs[j].batch_number && drugs[i].sid == drugs[j].sid){
									mui.toast('"'+drugs[i].generic_name+'" 存在重复批号');
									return;
								}
							}
						}
						
						
						// 两票类型,是否上传随同第一票
						if(vm.tickeTypeValue == 2 && vm.billImage.length == 0){
							mui.toast('未上传随货同行单');
							return ;
						}
						// 三票制,是否上传随同第一票和第二票
						if(vm.tickeTypeValue == 3 &&  (vm.billImage.length == 0 || vm.billImage1.length == 0)){
							mui.toast('未上传随货同行单');
							return;
						}
						
						// 组合数据
						let accountInfo = JSON.parse(plus.storage.getItem('accountInfo'));
						let params = {
							currentPro : vm.producer,
							sendNumber : vm.sendNumber,
							ticketType : vm.tickeTypeValue,
							intoTime : vm.intoTime,
							drugs : vm.drug,
							billImage : vm.billImage.length == 0 ?'' : vm.billImage,
							billImage1 : vm.billImage1.length == 0 ?'' : vm.billImage1,
							invoiceImage : vm.invoiceImage.length == 0 ?'' : vm.invoiceImage,
							invoiceImage1 : vm.invoiceImage1.length == 0 ?'' : vm.invoiceImage1,
							accountInfo : accountInfo,
						};
						
						plus.nativeUI.showWaiting();
						var res = mui.http_post(API.WAREHOUSE_INTO_FROM_GROUP,params);
						res.then(res=>{
							plus.nativeUI.closeWaiting()
							if(res.code == 200){
								mui.toast('入库成功 '+res.data.info+' 条记录')
								setTimeout(function(){
									mui.back();
								},800)
							}else{
								mui.alert(res.message,'提示','确认',function (e) {})
							}
						})
						
					})
						
					
				})
			}
		</script>
	</body>
</html>