
<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>入库添加</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<script type="text/javascript">
			document.write('<script src="../../js/fix.js?rd=?rd=' + Math.random() + '"><\/script>');
		</script> 
		   
		<script type="text/javascript">
			link(['../../css/mui.min.css','../../css/icon.css','../../css/common.css','../../css/imageview.css','../../css/drug/net-drug.css','../../css/picker/mui.picker.css','../../css/picker/mui.poppicker.css','../../css/LCalendar.css','../../css/warehouse/into.css'],true); 
		</script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">集团内部调拨票</h1>
		</header>
		
		<div class="mui-content into-box" id="app">
			
			<div class="form-title">基本信息</div>
			<div class="form-box">
				
				<div class="mui-input-row choose">
					<label>集团企业</label>
					<input type="text" class="mui-input-clear" v-model="groupCompanyText" id="chooseGroup" readonly  placeholder="选择集团企业">
					<div class="iconfont icon-tianjia1 add-group" @tap="addGroup"></div>
				</div>
				
				<div class="mui-input-row">
					<label>调拨单号</label>
					<input type="text" class="mui-input-clear" v-model="sendNumber"  placeholder="输入调拨单号 (选填)">
				</div>
				
				<div class="mui-input-row choose">
					<label>开票日期</label>
					<input type="text" id="intoTime" class="mui-input-clear" v-model="intoTime" readonly  placeholder="选择开票日期">
				</div>
			</div>
			
			<template v-if="groupCompanyValue != 0">
			
				<div class="form-title">选择入库药品</div>
				<div class="drug-box">
					
					<div class="form-box" v-for="(item,index) in drug">
						<div :data-index="index" :class="'mui-input-row ' + (item.is_add?' input-disabled':' choose-drug') ">
							<label>入库药品</label>
							<input type="text" class="mui-input-clear" v-model="item.generic_name" readonly placeholder="选择入库药品">						
						</div>
						<div class="mui-input-row input-disabled">
							<label>规格</label>
							<input type="text" class="mui-input-clear" v-model="item.specifications" readonly  placeholder="输入规格">
						</div>
						<div class="mui-input-row  input-disabled">
							<label>批号</label>
							<input type="text" class="mui-input-clear"  v-model = "item.into_number" readonly  placeholder="输入批号">
						</div>
						
						<div :class="'mui-input-row' + (item.is_add?' input-disabled':'') ">
							<label>调拨数量</label>
							<input type="number" class="mui-input-clear" :disabled="item.is_add?true:false" :data-index="index" @input="checkAllotCount" v-model.lazy="item.allot_count"  placeholder="输入调拨数量">
						</div>
						
						<div class="btn-box">
							<div class="operation-btn" v-if="!item.is_add">
								<button type="button" :data-index="index" @tap="addDrug" class="mui-btn mui-btn-success">增加药品</button>
							</div>
							
							<div class="operation-btn" v-if="index==0 && drug.length==1?false:true">
								<button type="button" :data-index="index" @tap="delDrug" class="mui-btn mui-btn-danger">删除</button>
							</div>
						</div>
						
					</div>
					
				</div>
				
				<div class="form-title">上传内部调拨票</div>
				<div class="form-box padding-9 ">
					<!-- 上传说明 -->
					<div class="upload-tip">#支持上传JPG、JEPG、PNG格式，最多上传<span class="red">5</span>张</div>
					<upload :file="allotImage" :group="1" :formdata="formData1" :max="5" :url="url" @oncomplete="complete1" @ondelete="delete1" ></upload>
				</div> 
			</template>
			
			<!-- 新增集团内企业-->
			<template v-if="groupShow">
				<div class='mask' id="trade-mask" style="z-index: 12;">
				<div class='drug-detail-box'>
					<div class='detail-box-top'>
						<div class='text-detail'>新增集团内企业</div>
						<div class='iconfont icon-shanchu2 close' id="close-trade"></div>
					</div>
					<div class="mui-scroll-wrapper" id="scroll-trade">
						<div class="mui-scroll reason-content">
							<div class="mui-input-row">
								<label>集团企业</label>
								<input type="text" class="mui-input-clear" v-model="groupName" placeholder="输入集团企业">
							</div>
							
							
							<div class="upload-tip">#支持上传JPG、JEPG、PNG格式，最多上传<span class="red">5</span>张</div>
							<upload :file="groupImage" :formdata="formData2" :group="2" :max="5" :url="url" @oncomplete="complete2" @ondelete="delete2" ></upload>
							
							<div class="report-btn">
								<button type="button" id="group-sure" class="mui-btn mui-btn-success">提 交</button>
							</div>
							
						</div>
					</div>
				</div>
				</div>
			</template>
			
			
			<!-- 提交 -->
			<div class="into_submit">
				<button type="button" id="submit" class="mui-btn mui-btn-success">提 交</button>
			</div>
			
			 
		</div>
		<script type="text/javascript">
			script(['../../js/mui.min.js','../../js/vue.js','../../js/lib/mui.zoom.js','../../js/lib/mui.previewimage.js','../../js/lib/picker/mui.picker.min.js"','../../js/lib/picker/mui.poppicker.js','../../js/lib/LCalendar.js','../../js/api.js','../../js/app.js']);
		</script>
		
		<!-- 上传组件模板 -->
		<script type="text/x-template" id="upload-template">
			<div class="upload-box">
				
				<template v-for="(item,index) in file">
					<div class="upload-img-box">
						<img :src="item.url" data-preview-src="" :data-preview-group="group" />
						<div :data-index="index" class="delete-icon iconfont icon-shanchu1" @tap="onDelete(index)"></div>
					</div>
				</template>
				
				<div v-if="file.length < max " class="weui-uploader__input-box" @tap="onSelect"></div>
				<div class="clear"></div>
				
			</div>
		</script>
			

		<script>
			//定义上传组件
			var upload = {
				template : '#upload-template',
				data : function(){
					return {
						
					}
				},
				// 定义组件属性
				props : {
					url : String,
					formdata : {type : Object,default : function(){ return {}}},
					file : {type :Array,default: function(){ return []} },
					max : {type : Number,default:2},
					group : {type : Number }
				},
				methods:{
					// 上传方法
					imgUpload : function(path,url){
						var that = this;
						plus.nativeUI.showWaiting()
						var task = plus.uploader.createUpload(url,{method:"POST",blocksize:204800,priority:100},function(t,status){
							plus.nativeUI.closeWaiting();
							
							// 上传完成,成功或失败
							var datas = JSON.parse(t.responseText); //返回图片存储地址
							if( status == 200 ){
								// 上传成功
								that.$emit("oncomplete",{url:datas});
								
							}else{
								
								mui.alert(datas.err,'提示','确认',function (e) {
								},'div');
								
							}
							
						});
						task.addFile(path,{key:'upload'});
						// 添加参数
						for(var key in that.formdata){
							task.addData(key,that.formdata[key].toString());
						}
						task.start();
					},
					// 选择图片
					onSelect : function(){ 
						var btnArray = [{
							title: "拍照"
						}, {
							title: "从相册选择"
						}],that = this;
						
						plus.nativeUI.actionSheet({
							title: "选择照片",
							cancel: "取消",
							buttons: btnArray
						}, function(e) {
							var index = e.index;
							switch (index) {
								case 0:
									break;
								case 1:
								// 拍照
									var cmr = plus.camera.getCamera();
									cmr.captureImage(function(path) {
										var localUrl = "file://" + plus.io.convertLocalFileSystemURL(path);
										that.imgUpload(localUrl,that.url);
									});
									break;
									
								case 2:
								//选择相册
									plus.gallery.pick(function(path) {
										that.imgUpload(path,that.url);
									}, function(err) {}, {maximum:1});
									break;
							}
						});
						
					},
					// 删除
					onDelete : function(e){
						this.$emit("ondelete",{index:e})
					}
				}
			}
			
			
			mui.init();
			window.onload = function(){
				mui.plusReady(function (){
				
					var vm = new Vue({
						el :'#app',
						data : {
							groupCompany : [],									//集团公司
							groupCompanyValue : 0,
							groupCompanyText : '',
							formData1:{text : '内部调拨票'},						//上传附带参数
							formData2:{text : '集团公司关系证明'},				//上传附带参数
							allotImage : [],  									//内部调拨票
							url : API.HOST + API.UPLOAD_TICKET,
							sendNumber : '',									//调拨单号
							intoTime : '',										//开票日期
							drug : [{}],										//药品信息
							currentIndex : 0,
							groupShow : false,
							groupImage : [],
							groupName:''
							
							
							
						},
						components:{
							upload : upload
						},
						methods:{
							//添加集团企业
							addGroup(){
								var that = this;
								this.groupShow = true;
								this.$nextTick(function(){
									var scorll_group = mui('#scroll-trade').scroll({deceleration: 0.001});
									// 监听关闭
									document.getElementById('close-trade').addEventListener('tap',function(e){
										
										that.groupNmae = '';
										that.groupImage = [];
										that.groupShow = false;
									});
									
									// 监听提交
									document.getElementById('group-sure').addEventListener('tap',function(){
										// 判断是否填写完整
										if(!that.groupName){
											mui.toast('未填写集团企业');
											return;
										}
										// 判断是否上传图片
										if(that.groupImage.length == 0){
											mui.toast('未上传图片证明');
											return;
										}
										var params = {
											accountInfo : JSON.parse(plus.storage.getItem('accountInfo')),
											groupCompany : that.groupName,
											groupImage : that.groupImage
										}
										var res = mui.http_post(API.ADD_GROUP_COMPANY,params);
										if (res.code == 200) {
											mui.alert('添加成功,请等待审核','提示','确认',function (e) {
												that.groupNmae = '';
												that.groupImage = [];
												that.groupShow = false;
											},'div');
											
										} else {
											mui.alert('添加失败,系统异常','提示','确认',function (e) {},'div');
											
								
										}
										
										
									})
									
								})
							},
							
							// 检测调拨数量
							checkAllotCount(e){
								var value = e.target.value;
								var index = e.target.dataset.index;
								var current = this.drug[index];
								if(!current.id){
									mui.toast('请选择入库药品');
									vm.$set(this.drug[index],'allot_count','');
									return;
								}
								if(!value){
									mui.toast('未填写调拨数量');
									return;
								}
								
								// 检查数据是否合法
								if(value.indexOf('.') != -1 ||  value.indexOf(0)===0 || isNaN(value) ){
									mui.toast('调拨数量不合法');
									vm.$set(this.drug[index],'allot_count','');
									return;
								}
								// 不能大于入库数量
								if(value > current.into_count){
									mui.toast('调拨数量不能大于'+current.into_count);
									vm.$set(this.drug[index],'allot_count','');
									return;
								}
								
							},
							
							// 增加药品
							addDrug(e){
								var index = e.target.dataset.index;
								var current = this.drug[index];
								if (!current.id) {
									mui.toast('未选择入库药品');
									return;
								}
								
								if(!current.allot_count){
									mui.toast('未填写调拨数量');
									return ;
								}
								
								// 检查数据是否合法
								if(current.allot_count.indexOf('.') != -1 ||  current.allot_count.indexOf(0)===0 || isNaN(current.allot_count) ){
									mui.toast('调拨数量不合法');
									vm.$set(this.drug[index],'allot_count','');
									return;
								}
								
								//判定数量必须小于等于入库数量
								if (current.allot_count > current.into_count) {
									mui.toast('调拨数量不能大于'+current.into_count);
									return;
								}
								
								// 判断是否存在同样的药品及批号
								
								for(var i=0,len=this.drug.length;i<len;i++){
									if ( index != i && current.system_number == this.drug[i].system_number && current.into_number == this.drug[i].into_number){
										mui.toast('当前药品及批号已重复');
										return;
									}
								}
								
								vm.$set(this.drug[index],'is_add',true);
								vm.drug.push({});
							},
							
							// 删除药品
							delDrug(e){
								var index = e.target.dataset.index;
								// 存在多个且不是最后一个
								if( this.drug.length > parseInt(index)+1 ){
									console.log(1)
									this.drug.splice(index,1);
									return;
								}
								
								// 存在多个且是最后一个
								if(this.drug.length == parseInt(index)+1 && index != 0 ){
									this.drug.splice(index,1);
									vm.$set(this.drug[index-1],'is_add',false);
									return;
								}
								
							},
							
							// 删除票据
							deleteTicket(indexs,target){
								var that = this;
								mui.confirm('确认删除吗?','提示',['取消','确认'],function (e) {
									if(e.index == 1){
										plus.nativeUI.showWaiting();
										var res = mui.http_post(API.DELETE_TICKET,{url:that[target][indexs].save});
										if(res.code == 200){
											that[target].splice(indexs,1)
										}else{
											mui.alert(res.message,'提示','确认',function (e) {},'div')
										}
										plus.nativeUI.closeWaiting();
									}
									
								},'div')
							},
							
							// 上传
							complete1:function(e){
								this.allotImage.push(e.url)
							},
							complete2:function(e){
								this.groupImage.push(e.url)
							},
							// 删除
							delete1:function(e){
								this.deleteTicket(e.index,'allotImage')
							},
							delete2:function(e){
								this.deleteTicket(e.index,'groupImage')
							},
							
							
						}
					});
					var accountInfo = JSON.parse(plus.storage.getItem('accountInfo')) ;
					vm.formData1.cid = accountInfo.userid;
					vm.formData2.cid = accountInfo.userid;
					
					// 获取集团公司
					var group = mui.http_post(API.GET_GROUP_COMPANY,{companyId:accountInfo.userid});
					
					plus.nativeUI.closeWaiting();
					mui.currentWebview.show();
					
					if (group.code == 200) {
						vm.groupCompany = group.data;
						
					} else {
						mui.toast(group.message);
					}
					
					// 预览图片
					mui.previewImage();
					
					// 选择集团公司
					var picker = new mui.PopPicker();
					document.getElementById('chooseGroup').addEventListener('tap',function(){
						picker.setData(vm.groupCompany);
						// picker.pickers[0].setSelectedIndex(vm.groupCompanyValue-1)
						
						picker.show(function(item){
							value = item[0];
							vm.groupCompanyValue = value.value;
							vm.groupCompanyText = value.text;
							vm.$nextTick(function(){
								// 监听选择药品
								mui('.drug-box').on('tap','.choose-drug',function(e){
									vm.currentIndex = this.dataset.index;
									mui.openWindow({
										id : 'choose-drug-allot.html',
										url : 'choose-drug-allot.html',
										show : {
											autoShow : false
										}
										
									})
								})
								
							})
						})
					})
					
					// 选择入库日期
					var calendar = new LCalendar();
					var start = calendar.init({
						'trigger': '#intoTime',//标签id
						'type': 'date',//date 调出日期选择 datetime 调出日期时间选择 time 调出时间选择 ym 调出年月选择
						'minDate':'',//最小日期 注意：该值会覆盖标签内定义的日期范围
						'maxDate':''//最大日期 注意：该值会覆盖标签内定义的日期范围
					});
					mui('.choose').on('tap','#intoTime',function(){
						// 获取截止时间
						var max = mui.date( parseInt( new Date().getTime() /1000 ) );
						start.show({maxDate : max , type : 'date' });
					})
					
					
					// 自定义时间获取药品 
					window.addEventListener('getDrug',function(e){
						var index = vm.currentIndex;
						var drug = vm.drug;
						vm.$set(drug,index,e.detail);
						
					})
					
					// 入库提交
					document.getElementById('submit').addEventListener('tap',function(){
					
						if(vm.groupCompanyValue == 0){
							mui.toast('请选择集团企业');
							return;
						}
						
						// 判断入库日期
						if(!vm.intoTime){
							mui.toast('请选择开票日期');
							return;
						}
						
						//验证药品清单
						var drugs = vm.drug,arr = [];
						for(var i=0;i<drugs.length;i++){
							arr = Object.keys(drugs[i]);
							if(arr.length == 0){
								mui.toast('请选择入库药品');
								return;
							}
						}
						
						for (var i = 0, len = drugs.length; i < len; i++) {
							for (var j = 0, leng = drugs.length; j < leng; j++) {
								if (i != j && drugs[i].into_number == drugs[j].into_number && drugs[i].id == drugs[j].id) {
									mui.toast('"' + drugs[i].generic_name + '" 存在重复批号');
									return;
								}
							}
						}
						
						
						//循环验证
						let item = {};
						for(var i=0,len=drugs.length;i<len;i++){
							item = drugs[i];
							if (!item.allot_count) {
								mui.toast('"' + item.generic_name + '" 未填写调拨数量');
								return;
							}
							//判断数字是否合法
							if (item.allot_count.indexOf('.') != -1 || item.allot_count.indexOf(0) === 0 || isNaN(item.allot_count)) {
								mui.toast('"' + item.generic_name + '" 调拨数量不合法');
								vm.$set(vm.drug[i],'allot_count','');
								return;
							}
							
							if (item.allot_count > item.into_count) {
								mui.toast('调拨数量不能大于'+item.into_count);
								vm.$set(vm.drug[i],'allot_count','');
								return;
							}
							
						}
						
						if( vm.allotImage.length == 0){
							mui.toast('未上传内部调拨票');
							return ;
						}
						
						//组合数据
						var accountInfo = JSON.parse(plus.storage.getItem('accountInfo')) ;
						var params = {
							sendNumber: vm.sendNumber,
							invoiceTime: vm.intoTime,
							drugs: drugs,
							allotImage: vm.allotImage,
							accountInfo,
							groupCompany: vm.groupCompanyText,
							groupId: vm.groupCompanyValue
						}
						
						plus.nativeUI.showWaiting();
						var res = mui.http_post(API.WAREHOUSE_INTO_FROM_ALLOT,params);
						plus.nativeUI.closeWaiting()
						
						if(res.code == 200){
							mui.toast('成功: ' + res.data.right + '条' + ' 失败: ' + res.data.fail + '条')
							setTimeout(function(){
								mui.back();
							},800)
						}else{
							mui.alert(res.message,'提示','确认',function (e) {},'div')
						}
						
						
					})
						
					
				})
			}
		</script>
	</body>
</html>