<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>注册</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script type="text/javascript">
			document.write('<script src="../../js/fix.js?rd=?rd=' + Math.random() + '"><\/script>');
		</script>
		<script type="text/javascript">
			link(['../../css/mui.min.css',"../../css/icon.css",'../../css/common.css','../../css/my/login.css'],true);
		</script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title" style="color: gray;">注册</h1>
		</header>
		
		<div class="mui-content" id="app">
			
			<div class="reg-box">
				<div class="reg-input-item">
					<div class="label-text text-clip">用户名</div>
					<div class="input-box"><input type="text" v-model="account" placeholder="2-16位,字母开头,字母 + 数字" /></div>
				</div>
				
				<div class="reg-input-item">
					<div class="label-text text-clip">登录密码</div>
					<div class="input-box"><input v-model="password" type="password" placeholder="6-16位,字母 + 数字" /></div>
				</div>
				 
				<div class="reg-input-item">
					<div class="label-text text-clip">手机号码</div>
					<div class="input-box"><input v-model="phone" type="number" placeholder="11位手机号码" /></div>
				</div>
				<div class="reg-input-item">
					<div class="label-text text-clip">短信验证</div>
					<div class="input-box" style="width: 30%;"><input v-model="smsNumber" type="number" placeholder="请输入验证码" /></div>
					<div class="get-sms" id="smscode">{{notice}}</div>
				</div>
				
				
				<!-- login-button -->
				<div class="login-btn" style="width: 100%;">
					<div class="agreent-box">
						<div @tap="read" class="check-box iconfont1 " :class="!isread ? 'icon-non-selected':'icon-selected'"><input type="checkbox" v-model="isread" style="display: none;" /></div>
						<div class="agreenment-policy">请阅读<span id="agreenment" class="agreenment ">《用户协议》</span>和<span id="policy" class="policy">《隐私政策》</span></div>
					</div>
					<button type="button" id="reg-btn" class="mui-btn mui-btn-blue mui-btn-block">立 即 注 册</button>
				</div>
				
				<!-- third login -->
				<!-- <div class="third-login">
					<div class="third-text">快速注册</div>
					<div id="login-wechat" class="iconfont1 icon-wechat"></div>
				</div> -->
				
			</div>
		</div>
		
		
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/vue.js"></script>
		<script src="../../js/api.js"></script> 
		<script src="../../js/app.js"></script> 
		<script type="text/javascript">
			mui.init();
			
			// 挂载实例
			var vm = new Vue({
				el:'#app',
				data:{
					isread: false,
					policy:false,
					sending:false,
					countDown:90,
					notice:"获取验证码",
					code:'', 	//图片验证码
					account:'',
					password:'',
					phone:'',
					confirmPhone:'',
					smsNumber:''
				},
				methods:{
					read(){
						this.isread = !this.isread;
					},
				}
			});
			
			mui.plusReady(function () {
				
				// 获取短信验证码
				var sms = document.getElementById('smscode');
				sms.addEventListener('tap',function(){
					if(vm.sending){
						return;
					}
					// 判断手机号是否正确
					if( !vm.phone ){
						mui.toast('请输入手机号');
						return;
					}
					var reg = new RegExp(/^1\d{10}$/);
					if(!reg.test(vm.phone)) {
						mui.toast("手机号格式错误");
						return;
					}
					
					// 发送验证码
					var res = mui.http_post(API.SMS_CODE,{mobile:vm.phone});
					res.then(res=>{
						if(res.code == 200){
							mui.toast(res.message);
						}else{
							mui.alert(res.message,'提示','确认',function (e) {
							   e.index
							});
							return;
						}
					})
					
						
					vm.confirmPhone = vm.phone;
					vm.sending = true;
					var time = vm.countDown; 
					// 倒计时
					var setInt = setInterval(function(){
						if( time<=1 ){
							vm.sending = false;
							vm.notice = "重新获取";
							vm.countDown = 90;
							clearInterval(setInt);
						}else{
							vm.notice = --time+'秒后可重发';
						}
					},1000)
				})
				
				
				// 跳转到用户协议和隐私政策
				document.getElementById('agreenment').addEventListener("tap",function(){
					var win = '../search-tool/embed.html';
					var title = "用户协议";
					var href = "https://yxt.feiruide.cn/index.php/user/agreement"
					// 创建窗口
					var ws = plus.webview.create(win,'embed',{scrollIndicator :'none',scalable : false,backButtonAutoControl : 'close',},{title,href,status:1})
					ws.show('pop-in');
				})
				document.getElementById('policy').addEventListener("tap",function(){
					var win = '../search-tool/embed.html';
					var title = "隐私政策";
					var href = "https://yxt.feiruide.cn/index.php/user/private"
					// 创建窗口
					var ws = plus.webview.create(win,'embed',{scrollIndicator :'none',scalable : false,backButtonAutoControl : 'close',},{title,href,status:1})
					ws.show('pop-in');
				})
				
				// 注册提交
				document.getElementById('reg-btn').addEventListener('tap',function(){
					if(!vm.isread){
						mui.toast('请阅读《用户协议》及《隐私政策》')
						return;
					}
					if( !vm.account ){
						mui.toast('请输入用户名');
						return;
					}
					
					let accountPatter = new RegExp(/^[A-Za-z]([A-Za-z0-9]{1,15})$/);
					if(!accountPatter.test(vm.account)){
						mui.toast('用户名格式错误');
						return;
					}
					if( !vm.password ){
						mui.toast('请输入密码');
						return;
					}
					
					let passPatter = new RegExp(/^[A-Za-z0-9]{6,16}$/);
					if (!passPatter.test(vm.password)) {
						mui.toast("密码格式错误");
						return;
					}
					
					if( !vm.phone ){
						mui.toast('请输入手机号');
						return;
					}
					
					var reg = new RegExp(/^1\d{10}$/);
					if(!reg.test(vm.phone)) {
						mui.toast("手机号格式错误");
						return;
					}
					if(!vm.smsNumber){
						mui.toast('请输入验证码');
						return;
					}
					if( !vm.confirmPhone){
						mui.toast('还未获取短信验证码');
						return;
					}
					
					if(vm.phone != vm.confirmPhone){
						mui.alert('输入手机号与接收短信验证码手机号不一致，请用当前手机号重新获取短信验证码','提示','确认',function (e) {
						   e.index
						});
						return;
					}
					
					let params = {
						account:vm.account,
						password:vm.password,
						phone:vm.phone,
						smsCode:vm.smsNumber,
					}
					plus.nativeUI.showWaiting();
					var res = mui.http_post(API.REGISTER,params);
					res.then(res=>{
						plus.nativeUI.closeWaiting();
						if(res.code == 200){
							mui.toast('注册成功');
							setTimeout(function(){
								mui.back();
							},800);
						}else{
							mui.toast(res.message);
							return;
						}
					})
					
				})
				
				// 快速注册
				//获取微信服务列表
				// mui.updateSerivces();
				// document.getElementById('login-wechat').addEventListener('tap',function(){
				// 	lweixin?mui.weReg(lweixin):plus.nativeUI.alert('当前环境不支持微信注册操作');
				// });
			})
		</script>
	</body>

</html>
