.scan-title{
	text-align: center;
	font-size: 1.7rem;
	color: rgba(0,191,255,1);
}
.scan-notice{
	font-size: 1.2rem;
	color: red;
}
.scan-box,.edit-box{
	border-top: 1px solid rgba(0,0,0,.1);
	padding: 8px 0;
	display:-webkit-flex;
	display:flex;
	direction:row;
	flex-wrap:wrap;
	justify-content:space-between;

}
.scan-item{
	margin-bottom: 8px;
}
.mui-btn{
	font-size: 1.2rem;
	padding: 3px 6px;
}
.edit-box{
	justify-content:center;
	margin-top: 8px;
}
.edit-box .mui-btn{
	font-size: 1.4rem;
}

