<!DOCTYPE html>
<html>

	<head> 
		<meta charset="utf-8"> 
		<title>通讯录</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta http-equiv="Access-Control-Allow-Origin" content="*">
		<meta http-equiv="content-security-policy">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<script type="text/javascript">
			document.write('<script src="../../js/fix.js?rd=?rd=' + Math.random() + '"><\/script>');
		</script>   
		  
		<script type="text/javascript">
			link(['../../css/mui.min.css','../../css/common.css','../../css/imageview.css','../../css/picker/mui.picker.css','../../css/picker/mui.poppicker.css','../../css/icon.css','../../css/community/add-community.css'],true);   
		</script>
		
	</head>    
   
	<body contextmenu="return false;">
		<div id="app">
		<header class="mui-bar mui-bar-nav no-shadow" v-cloak>
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class=" iconfont1 mui-title" id="selectTopic"  >{{currentTopicText}}&nbsp;</h1>
			<div id="data-from">发布</div>
		</header>
		
		<div class="mui-content">
			<div id="content-box">
				<div class="community-title-box">
					<input id="title" @focusin="titleFocusIn" type="text" v-model="title"  placeholder="标题" >
				</div>
				
				<content-upload @ongetcontent="getContent" :url="url" :content="content" :formdata="formdata"></content-upload> 
			
				 
			</div>
			
			<!-- 添加图文按钮 --> 
			<div @tap.stop="addImgText"  id="add-img-text">
				<div class="iconfont1 icon-add-text-img"></div>
				<div class="icon-text-btn">
					添加图文
				</div>
			</div>
			
		</div>
		</div>
		
		<script type="text/javascript">
			script(['../../js/mui.min.js','../../js/vue.js','../../js/lib/mui.zoom.js','../../js/lib/mui.previewimage.js','../../js/lib/picker/mui.picker.min.js"','../../js/lib/picker/mui.poppicker.js','../../js/api.js','../../js/app.js']);
		</script>
		
		<script type="text/x-template" id="content-template">
			<div>
				<template v-for="(item,index) in contentCopy">
					<div class="community-content-box">
						<div class="community-content-text">
							<textarea @focusin="textFocusIn" @input="textInput" type="text" v-model="item.text" :data-index="index" rows="4" placeholder="输入内容"></textarea>
						</div>
						
						<div class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" style="height:8rem;padding: 0;">
							<div class="mui-scroll" style="position:absolute;height:8rem;">
								
									<div class="mui-control-item" v-for="(items,indexs) in item.url">
										<img :src="items.url" data-preview-src="" :data-preview-group="index"/>
										<span @tap.stop.prevent="onDelete(index,indexs)" class="delete iconfont1 icon-community-delete"></span>
									</div>
									
									<!-- 选择上传按钮 -->
									<div @tap.stop="onSelect(index)" v-show="item.url.length < max " class="mui-control-item">
										<div class="weui-uploader__input-box"></div>
									</div>
								 
							</div>
						</div>
						
						<!-- 删除按钮 -->
						<span @tap.stop.prevent="deleteImgText(index)"  v-show="index!==0" class="delete-img-text iconfont1 icon-delete-img-text"></span>
						
					</div>
				</template>
			</div>
		</script>
		<script type="text/javascript">
		mui.init({
			gestureConfig: {
				tap: true,
				doubletap: true,
				longtap: true,
				swipe: true,
				drag: true, 
			}
		});
		
		if(mui.os.ios){
			// 解决在ios上fixed元素focusin时位置出现错误的问题 
			document.addEventListener('DOMContentLoaded',function(){
				var footerDom = document.querySelector('#add-img-text');
				
				document.addEventListener('focusin', function() {
					footerDom.style.position = 'absolute';
				});
				document.addEventListener('focusout', function() {
					footerDom.style.position = 'fixed';
				});
			});
		}
		
			
		mui.plusReady(function () {
			var contents= {
					template : "#content-template",
					data : function(){
						return {
							contentCopy:[{text:'',url:[]}],
						};
					},
					props:{
						content:Array,
						url:String,
						max:{type : Number,default:8},
						formdata: {type : Object,default : function(){ return {}}},
					},
					watch:{
						content(val){
							this.contentCopy = val
						},
					},
					
					methods:{
						textInput(){
							this.$emit('ongetcontent',{content:this.contentCopy});
						},
						textFocusIn(e){
							setTimeout(function(){
								document.activeElement.scrollIntoView({
									block: 'start',
									behavior: 'smooth'
								});
							},800);
							
						},
						// 上传方法
						imgUpload : function(path,url,outindex){
							var that = this;
							plus.nativeUI.showWaiting()
							var task = plus.uploader.createUpload(url,{method:"POST",blocksize:204800,priority:100},function(t,status){
								plus.nativeUI.closeWaiting();
								
								// 上传完成,成功或失败
								var datas = JSON.parse(t.responseText); //返回图片存储地址
								if( status == 200 ){
									// 上传成功
									console.log(JSON.stringify(datas))
									that.contentCopy[outindex].url.push(datas);
									that.$emit('ongetcontent',{content:that.contentCopy});
									
								}else{
									mui.alert(datas.err,'提示','确认',function (e) {
									});
									
								}
								
							});
							task.addFile(path,{key:'upload'});
							// 添加参数
							for(var key in that.formdata){
								task.addData(key,that.formdata[key].toString());
							}
							task.start();
						},
						onSelect(outindex){
							var btnArray = [{
								title: "拍照"
							}, {
								title: "从相册选择"
							}],that = this;
							
							plus.nativeUI.actionSheet({
								title: "选择照片",
								cancel: "取消",
								buttons: btnArray
							}, function(e) {
								var index = e.index;
								switch (index) {
									case 0:
										break;
									case 1:
									// 拍照
										var cmr = plus.camera.getCamera();
										cmr.captureImage(function(path) {
											var localUrl = "file://" + plus.io.convertLocalFileSystemURL(path);
											that.imgUpload(localUrl,that.url,outindex);
										});
										break;
										
									case 2:
									//选择相册
										plus.gallery.pick(function(path) {
											that.imgUpload(path,that.url,outindex);
										}, function(err) {}, {maximum:1});
										break;
								}
							});
							
							
							
						},
						onDelete(outIndex,inIndex){
							let that = this;
							mui.confirm('确认删除?','删除提示',['取消','确认'],function(e){
								if(e.index == 1){
									let res = mui.http_post(API.COMMUNITY_IMG_DELETE,{url:that.contentCopy[outIndex].url[inIndex].save});
									// 直接删除
									that.contentCopy[outIndex].url.splice(inIndex,1);
									that.$emit('ongetcontent',{content:that.contentCopy});
								}
							});
							
							
						},
						deleteImgText(index){
							this.contentCopy.splice(index,1);
							this.$emit('ongetcontent',{content:this.contentCopy});
						}
					},
				};
			var vm = new Vue({
				el : '#app',
				components:{
					'content-upload':contents
				},
				data:{
					content:[{text:'',url:[]}],
					title:'',
					url: API.HOST + API.COMMUNITY_IMG_UPLOAD,
					formdata:{},
					topic:[],
					currentTopicText:'医保政策',
					currentTopicValue:'1'
				},
				methods:{
					getContent(e){
						this.content = e.content;
					},
					titleFocusIn(){
						setTimeout(function(){
							document.activeElement.scrollIntoView({
								block: 'start',
								behavior: 'smooth'
							});
						},800);
					},
					addImgText(){
						
						if(this.content.length == 6){
							mui.toast('不能再添加了');
							return;
						}
						
						this.content.push({text:'',url:[]});
						let that = this;
						
						this.$nextTick(function(){
							mui('.mui-scroll-wrapper').scroll({
							          deceleration: 0.0005,
									  scroll_x:true,
									  scroll_y:false
							});
							document.getElementsByTagName('textarea')[that.content.length-1].focus();
							
						});
					},
					
				}
			});
			
			mui.statusAndSetAfterBack('dark','#ffffff');
			
			plus.webview.currentWebview().setStyle({
				softinputMode: "adjustResize"
			});
			
			//获取话题
			let topic = mui.http_post(API.COMMUNITY_TAB);
			topic.then(res=>{
				vm.topic = res.data;
				vm.currentTopicText = res.data[0].text;
				vm.currentTopicValue = res.data[0].value;
			})
			
			var accountInfo = JSON.parse(plus.storage.getItem('accountInfo')) ;
			vm.formdata.uid = accountInfo.id;
			
			mui.previewImage();
			
			// 选择话题
			var picker = new mui.PopPicker();
			document.getElementById('selectTopic').addEventListener('tap',function(){
				picker.setData(vm.topic);
				picker.show(function(item){
					value = item[0];
					vm.currentTopicValue = value.value;
					vm.currentTopicText = value.text;
				});
			});
			
			// 发布
			document.getElementById('data-from').addEventListener('tap',function(){
				if(!vm.title){
					mui.toast('必须填写标题');
					return;
				}
				
				let content = vm.content;
				
				if(!content[0].text && content[0].url.length === 0){
					mui.toast('第一段必须输入内容才可发布哦');
					return;
				}
				
				let params = {
					title:vm.title, 
					content:vm.content,
					topicId:vm.currentTopicValue, 
					userId:accountInfo.id,
				};
				
				plus.nativeUI.showWaiting();
				let res = mui.http_post(API.COMMUNITY_RELEASE,params);
				res.then(res=>{
					plus.nativeUI.closeWaiting();
					if(res.code ==200){
						mui.fire(plus.webview.currentWebview().opener(),'refresh');
						mui.back();
						
					}else{
						mui.toast(res.message);
					}
				});
				
			})
			
				
		});
		</script>
	</body>
</html>