<!DOCTYPE html>
<html>
	<head> 
		<meta charset="utf-8"> 
		<title>通讯录</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta http-equiv="Access-Control-Allow-Origin" content="*">
		<meta http-equiv="content-security-policy">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<script type="text/javascript">
			document.write('<script src="../../js/fix.js?rd=?rd=' + Math.random() + '"><\/script>');
		</script>
		  
		<script type="text/javascript">
			link(['../../css/mui.min.css','../../css/common.css','../../css/icon.css','../../css/community/search.css'],true);
		</script>
	</head>  
     
	<body contextmenu="return false;">
		<div id="app">
			
		<header id="add-img-text" class="mui-bar mui-bar-nav"> 
			<div class="search-box">
				<div class="search-input-box">
					<div class="iconfont1 icon-search-tie"></div>
					<div class="input">
						<form action="javascript:void(0)" method="">
							<input id="input" v-model="value" type="search" placeholder="搜索帖子" />
						</form>
					</div>
				</div>
				<div onclick="mui.back()" class="close">取消</div>
			</div>
		</header>
		
		<div class="mui-content" >
			<div id="content-box">
				<!-- 搜索结果展示 --> 
				<div v-cloak v-for="(item,index) in result" class="community-item-box detail" :data-cid="item.id">
					<div class="left-title-1" v-html="item.n_title"></div>
					<div class="bottom-info">
						<div class="username">
							<span>{{item.writer}}</span>&nbsp;&nbsp;&nbsp;<span>{{item.scan_number}}阅读</span>
						</div>
						<div class="creat-time">
							{{item.show_time}}
						</div> 
					</div> 
				</div>
				 
				 
				<!-- 数据为空提示 --> 
				<div class="empty" v-show="result.length == 0">
					<img src="../../images/empty.png" >
				</div>
				
				<!-- 数据到底提示 -->
				<div class="no-more-tips" v-show="more == 1 && result.length != 0">(O(∩_∩)O)&nbsp;没有更多内容了</div>
				
				
			</div>
		</div>
		</div>
		<script type="text/javascript">
			script(['../../js/mui.min.js','../../js/vue.js','../../js/api.js','../../js/app.js']);
		</script>
		
		<script type="text/javascript">
			function load(){
				if(vm.more == 1 || !vm.value){
					return;
				}
				plus.nativeUI.showWaiting()
				let res = mui.http_post(API.COMMUNITY_SEARCH,{value:vm.value,pageIndex:vm.pageIndex});
				res.then(res=>{
					plus.nativeUI.closeWaiting();
					if(res.code == 200){
						vm.result = res.data;
						vm.more = res.message;
					}
				}) 
			}
			
			mui.init();
			var vm = new Vue({
				el : '#app',
				data : {
					result:[],
					value:'',
					pageIndex:1,
					more : 2
				}
			});
			mui.plusReady(function () {
				mui.statusAndSetAfterBack('dark','#ffffff');
				let input = document.getElementById('input');
				
				//延时聚焦，解决表单自动聚焦时，产生顶部header错位
				setTimeout(function(){
					input.focus();
				},100);
				
				input.addEventListener('keypress',function(e){
					if(e.keyCode == "13"){
						vm.more = 2;
						vm.pageIndex =1;
						if(!vm.value){
							mui.toast('输入搜索关键字');
							return ;
						}
						document.getElementById('content-box').scrollTo(0,0);
						this.blur();
						load();
						e.preventDefault();
						e.stopPropagation();
					}
				});
				
				// 滑动监听
				document.getElementById('content-box').addEventListener('scroll',function(e){
					let maxScrollY = this.scrollHeight - this.clientHeight;
					let scrollTop = this.scrollTop;
					if(maxScrollY == scrollTop ){
						vm.pageIndex++;
						load();
					}
				});
				
				// 查看详情
				mui('#content-box').on('tap','.detail',function(){
					let cid = this.dataset.cid;
					mui.openWindow({
						url : 'detail.html',
						id : 'community-detail',
						extras : {
							cid
						},
						show : {
							autoShow : true
						}
					})
				})
				
			});
			
		</script>
	</body>
</html>